{% extends template.self %}

{% block faq_header_brand %}
<img src="https://www.gitbook.com/assets/images/logo/512-text.png" height="30" />
{% endblock %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://toolchain.gitbook.com" target="_blank">Toolchain</a></li>
    <li><a href="https://developer.gitbook.com" target="_blank">Developers</a></li>
    <li><a>|</a></li>
    <li><a href="https://www.gitbook.com">GitBook.com</a></li>
    <li><a href="https://www.gitbook.com/contact" target="_blank">Contact us</a></li>
    <li><a href="https://www.gitbook.com/book/gitbookio/help/discussions" target="_blank">Suggest a Question</a></li>
</ul>
{% endblock %}
